<template name="master_layout">



    <div class="wrapper">

        {{> nav_bar }}
        {{#if isInRole 'admin'}}
        {{> admin_side_bar }}
           {{/if}}
        {{#if isInRole 'trainer'}}
        {{> trainer_side_bar }}
        {{/if}}
        {{#if isInRole 'officer'}}
        {{> officer_side_bar }}
        {{/if}}





        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{> Template.dynamic template=pageHeader}}
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>
            {{> Template.dynamic template=dashboard}}

            <!-- Main content -->
            <section class="content">

                {{> Template.dynamic template=body}}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->














        {{> footer }}
        {{> side_bar_control }}

    </div>


</template>